/*
 *= require scrivito_customer_icons
 *= require jquery.tag-editor
 *= require_self
 */

.tag-editor .tag-editor-delete { padding-right: 10px; }
.tag-editor .tag-editor-delete i {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #666;
  font-family: "scrivito_customer_icons";
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
  line-height: 9px!important;
  text-decoration: none;
  vertical-align: middle;
}
.tag-editor .tag-editor-delete i:after { content: "\F03c"; }
.tag-editor .tag-editor-tag.active+.tag-editor-delete,
.tag-editor .tag-editor-tag.active+.tag-editor-delete i:after {
  content: "";
  cursor: text;
}
